body {
    
    margin: 0 auto;
    padding: 0px 150px 0px 150px;
    min-width: 300px;
}

.header-box {
    
    background-image: url(images/header-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1px;
    background-position: 0 -60;
    text-align: center;
    font-size: 20;
    border-bottom: 1px solid black;
    
}

.header-box-2 {
    background-image: url(images/header-style-guides.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1px;
    background-position: 0 -150;
    text-align: center;
    font-size: 20;
    border-bottom: 1px solid black;
}

nav ul {
    
    background-color: white;
    font-weight: bold;
}

nav ul li {
    
    display: inline;
    font-size: 12px;
    margin-right: 25px
    
}

nav a {
    text-decoration: none;
    color: black;
}
.gray-color {
    
    color: #b3b3b3;
}

nav a:visited {
    color: black;
}

.main-articles , .main-section {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px 40px 10px 40px;
}


.main-articles h2 , .main-section h2{
    
    font-size: 30px;
}

.main-articles adress , .main-articles time , .main-section adress , .main-section time {
    font-style: italic;
    font-family: sans-serif;
    font-size: 14px;
}

.main-articles a , .main-section a  {
    color: #ba3925;
    text-decoration: none;
    font-weight: 600;
}

.main-articles p , .main-section p{
    font-style: italic;
    font-size: 17px;
}

.main-section p , .what-is-section p:last-child , .why-should-section p:last-child , .steps-section dd:last-child , .using-section p:last-child {
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 25px;
}

main {
    border-right: 1px solid #b3b3b3;
    border-left: 1px solid #b3b3b3;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.other-articles , .what-is-section , .why-should-section , .steps-section , .using-section {
    
    font-family: arial;
    padding: 20px 40px 10px 40px;
}

.other-articles h3 {
    text-align: center;
    font-weight: 100;
}

.other-articles p , .other-articles adress {
    font-size: 14;
    
}

.other-articles a , .other-articles a:visited , .steps-section a , .using-section a{
    text-decoration: none;
    color: blue;
}

.what-is-section h3 , .steps-section h3 {
    font-family: times;
    font-weight: 600;
    text-align: center;
    font-size: 23px;
    color: #ba3925;
}

.why-should-section h3 , .using-section h3 {
    font-family: times;
    font-weight: 600;
    text-align: center;
    font-size: 23px;
    color: #2455c3;
}

.why-should-section , .using-section {
    
    background-color: #f2f2f2;
    padding-top: 10;    
}

.steps-section img , .using-section img {
    
    width: 400px;
    margin-top: 20px;
}

.steps-section figure , .using-section figure {
    
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
}

.steps-section dt {
    
    margin-top: 20px;
}

abbr {
    text-decoration: none;
}

footer ul li , footer ul a , footer{
    display: inline;
    text-decoration: none;
    color: black;
    align-content: center;
    text-align: center;
   
}

footer ul {
    font-weight: 600;
    font-family: arial;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    padding: 10px 150px;
    border-bottom: 2px solid black;
    margin-bottom: 0px;
}



